#container {
  display: grid;
  place-items: center;
  height: 30vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form .submit-bt {
  margin-top: 10px;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header img{
  width: 30vw;
}

#demo {
  font-size: 10vw;
  font-weight: bold;
}